#main {
  margin-top: 60px;
}

.center-bold {
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  color: red;
}

.tweetcontent {
  color: blue;
}

.tweetdatetime {
  color: gray;
}
